<div>
    <table class="table table-striped">
        <thead >
            <tr>
                <th scope="col">
                    #
                </th>
                <th scope="col">
                    facts about Cats
                </th>
            </tr>
            <tr *ngFor="let f of cats, let i = index">
                <td>
                    {{i+ 1}}
                </td>
                <td>
                    {{f.text}}
                </td>
            </tr>

        </thead>
        
    </table>
</div>